.idea
.circleci
.git
**/node_modules
Dockerfile
.dockerignore
.eslintrc
README.md
**/.meteor/local
local.env
docker-compose.yaml
dist

.meteor/local
Pulumi.yaml
Pulumi.*.yaml
node_modules/**
!node_modules/@empirica/meteor-deploy"
pulumi.js